header {
    background-color: #000000;
    margin: 25;
    padding: 30;
    border-radius: 50px;
    box-shadow: 0px 0px 80px #800080;
}
.title{
    font-family: "Press Start 2P", system-ui;
    font-weight: 900;
	font-size: 72px;
	padding-top: 1px;
	color: #A689E1;
}
.menu{
    position: fixed; right: 0;
	list-style: none;
	top: 12px;
	right: 80px;
	margin: 35;
    padding: 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 1100px) {
  .menu {
    display: none;
  }
  .title {
    text-align: center;
  }
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000000;
}