header {
    background-color: #000000;
    margin: 25;
    padding: 30;
    border-radius: 60px;
    box-shadow: 15px 15px 100px #342D7E;
    .title {
        padding-left: 10px;
        text-decoration: none;
        font-weight: 400;
        font-size: 52px;
        padding-top: 10px;
        color: #A689E1;
        font-family: "Press Start 2P", system-ui;
    }
    .menu {
        padding-right: 10px;
        text-decoration: none;
        position: fixed; right: 0;
        list-style: none;
        top: 0px;
        right: 50px;
        margin-top: 65;
        font-size: 28px;
        font-family: "Unbounded", sans-serif;
    }
    .button-link {
        margin-top: center;
        font-weight: 500;
        padding: 14;
        margin-right: 10px;
        background-color: #2B3157; border-radius: 20px;
        color: #FFF;
        text-decoration: none;
        transition: all 0.4s ease;
    }
    .button-link:hover {
        transition: all 0.4s ease;
        box-shadow: 0px 0px 25px #A689E1;
        background-color: #A689E1; border-radius: 5px;
        color: white;
    }
}
.head-description {
    transition: all 0.4s ease;
    margin-top: 50px;
    text-align: center;
    font-size: 52px;
    color: white;
    font-weight: 400;
    font-family: "Unbounded", sans-serif;
}
.description {
    transition: all 0.4s ease;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: A4A4A4;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
}
@media (max-width: 1000px) {
  .menu {
    display: none;
  }
  .title {
    text-align: center;
  }
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #060015;
}
