{% extends 'base.html' %}

{% block title %}
Удобный и выгодный маркетплейс игровых товаров
{% endblock %}

{% block div%}
<h1 class="head-description">
    Теперь пополнять <br>игровой баланс проще
</h1>
<h4 class="description">
    Покупайте игровые товары и услуги с помощью нашего сервиса. Мы готовы
    <br>предоставить вам такие товары: Пополнение Steam,
    <br>смена региона Steam, пополнение
    баланса на Minecraft-серверах,
    <br>которые с
    нами сотрудничают
</h4>
{% endblock %}
